/dts-v1/;

#include "skeleton.dtsi"

/ {
  #address-cells = <1>;
  #size-cells = <1>;

	ethernet@36a0000 {
		compatible = "nvidia,tegra186-eqos";
		reg = <0x36a0000 0x20000>;
  	status = "okay";
  	phy-mode = "rgmii";
    phy-handle = <&ethernet_phy>;
    #address-cells = <1>;
    #size-cells = <0>;
    ethernet_phy: marvell_phy@0 {
      compatible = "marvell,88E1518";
      reg = <0>;
    };
	};
   ahb_clk: ahb-clk {
      compatible = "fixed-clock";
      status = "okay";
      #clock-cells = <0>;
      clock-frequency = <50000000>;
    };
	spi0: spi@4a00000 {
	    status = "okay";
		compatible = "snps,dw-apb-ssi";
		reg = <0x4a00000 0x10000>;
//		clock-frequency = <250000>;
//	    spi-max-frequency = <250000>;
        #address-cells = <1>;
        #size-cells = <0>;
        clocks = <&ahb_clk>;
	  	spi-max-frequency = <500000>;
//        cs-gpio = <&cs_gpio 1>;
	    spi-nand@1 {
	    	compatible = "spi-nand";
            reg = <0>;
	  	spi-max-frequency = <400000>;
	    };
	};
//    cs_gpio: gpio@0x2118000 {
//		compatible = "snps,dw-apb-gpio-port";
//        reg = <0x2118000 0x8000>;
//			#address-cells = <1>;
//			#size-cells = <0>;
//			clocks = <&ahb_clk>;
//			status = "okay";
//			gpio-controller;
//    		#gpio-cells = <1>;
//
//			portb: gpio-controller@0 {
//				compatible = "snps,dw-apb-gpio-port";
//				bank-name = "portb";
//				gpio-controller;
//				#gpio-cells = <2>;
//				snps,nr-gpios = <29>;
//				reg = <0>;
//				interrupt-controller;
//				#interrupt-cells = <2>;
//				interrupts = <0 164 4>;
//			};
//    };
//	spi0: spi@4a00000 {
//	  status = "okay";
//		compatible = "snps,dw-apb-ssi";
//		reg = <0x4a00000 0x10000>;
//		clock-frequency = <250000>;
//	  spi-nand@0 {
//	  	compatible = "spi-nand";
//	  	spi-max-frequency = <250000>;
//	  };
//	};
};
