CONFIG_ARM=y
CONFIG_ARCH_UCP=y
CONFIG_SYS_TEXT_BASE=0x4ee0000
CONFIG_TARGET_UCP=y
CONFIG_FIT=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_PING=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="ucp-board"
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETCONSOLE=y
CONFIG_DM=y
CONFIG_DM_DEBUG=y
CONFIG_CLK=y
CONFIG_DM_GPIO=y
CONFIG_DM_ETH=y
CONFIG_UCP_ETH=y
