CONFIG_ARM=y
CONFIG_ARCH_UCP=y
CONFIG_SYS_TEXT_BASE=0x1fffffff
CONFIG_TARGET_UCP=y
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="ucp-board"
CONFIG_OF_EMBED=y

CONFIG_NET=y
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_NETCONSOLE=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETCONSOLE=y
CONFIG_PHYLIB=y
CONFIG_NETDEVICES=y
CONFIG_ETH_DESIGNWARE=y

