CONFIG_ARM=y
CONFIG_ARCH_UCP=y
#CONFIG_SYS_TEXT_BASE=0x10800000
CONFIG_SYS_TEXT_BASE=0x4ee0000
CONFIG_TARGET_UCP=y

# Device Tree Control
CONFIG_DEFAULT_DEVICE_TREE="ucp-board"
CONFIG_OF_CONTROL=y
# CONFIG_OF_SEPARATE is not set
CONFIG_OF_EMBED=y
CONFIG_FIT=y

# DRIVER MODEL: NET
CONFIG_DM=y
CONFIG_DM_ETH=y
CONFIG_DWC_ETH_QOS=y
CONFIG_NET=y
CONFIG_DM_DEBUG=y
CONFIG_CMD_NET=y
#CONFIG_CMD_RARP=y
#CONFIG_CMD_DHCP=y
CONFIG_CMD_NFS=y
CONFIG_CMD_PING=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETCONSOLE=y
CONFIG_NET_TFTP_VARS=y
CONFIG_PHYLIB=y
CONFIG_NETDEVICES=y
CONFIG_LIB_RAND=y

# FOR DWC NET DRIVER
CONFIG_CMD_GPIO=y
CONFIG_DM_GPIO=y
CONFIG_CLK=y
CONFIG_TEGRA186_CLOCK=y

#CONFIG_CMD_MEMTEST=y
