CONFIG_ARM=y
CONFIG_ARCH_UCP=y
CONFIG_SYS_TEXT_BASE=0x1ffca000
CONFIG_TARGET_UCP=y

# for eth driver
CONFIG_NET=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETCONSOLE=y

CONFIG_PHYLIB=y
CONFIG_NETDEVICES=y
CONFIG_ETH_DESIGNWARE=y
